# BOOST_INCLUDE_DIR = ...
# BOOST_LIB_DIR = ...
# BOOST_LIBS = ['boost_filesystem', 'boost_python', 'boost_system']

# PYTHON_INCLUDE_DIR = ...
# PYTHON_LIB_DIR = ...
# PYTHON_LIBS = ...

# CXX='g++-4.4'
